<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout :: pageTitle('Error Page')}"></head>

    <body>
        <div class="container">
            <header th:replace="~{layout :: pageHeader}"></header>
            <header th:replace="~{layout :: pageMenu}"></header>

            <section>
                <h2>An error occurred</h2>
                <p th:text="${problem}">Something went wrong.</p>
            </section>

            <footer th:replace="~{layout :: pageFooter}"></footer>
        </div>
    </body>
</html>
